* {
    box-sizing: border-box
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;

}

body {
    background-color: black;
    margin: 0
}

.containers {
    background-color: black;
}

.mySlides {
    display: none
}



/* Slideshow container */
.slideshow-container {

    position: relative;
    margin: auto;
    top: 80px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {

    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);

}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



.navbar {
    display: flex;
    height: 100px;
    background-color: rgba(16, 20, 27, .3);
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    /* background-image: linear-gradient(to bottom right, rgba(0,0,0,0.6), rgba(255,255,255,0.7)); */
}

.navbar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: -1;

}

.navbar a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.navbar a:hover {
    color: red;
}

.input-container {
    display: flex-inline;
}

.input-container input[type="text"] {
    border-radius: 5px;
    height: 40px;
    width: 300px;
    outline: none;
    padding-left: 20px;
}

.menu {
    position: relative;
    display: none;
    margin-right: 100px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 10;
}

.menu:hover .submenu {
    display: block;
}
.submenu button{
    background: none;
    border: none;
    outline: none;

}
.submenu button a{
    color: white;
    font-size: 25px;
}

.menu span i{
    box-sizing: border-box;
    border:1px solid white;
    border-radius: 50%;
    font-size: 25px;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    text-align: center;

}

.input-container button {
    border: none;
    background: none;

}

.input-container i {
    box-sizing: border-box;
    margin: 5px;
    font-size: 25px;
    color: white;
}

.login .button-login {
    height: 40px;
    border-radius: 20px;
    background-color: red;
    border-color: red;
    width: 150px;

}

.login .button-login {
    color: white;
    font-size: 25px;
}

.login .button-register {
    height: 40px;
    border-radius: 20px;
    background-color: red;
    border-color: red;
    width: 150px;
}

.login .button-register {
    color: white;
    font-size: 25px;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    
    border: 1px solid rgb(246, 244, 244);
}

button[type="submit"] {
    display: block;
    width: 30%;
    padding:10px;
    font-size: 25px;
    background-color: #e33408;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}
#dontaccount{
    color:white;
    text-align: center;
    
}
#dontaccount span{
    color:red;
    text-decoration: none;
}

button[type="submit"]:hover {
    background-color: #f13105;
}
.button-menu{
    background-color: transparent!important;
}
.listproduct {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.listproduct-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.listproduct-1 .row {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;

}

.film-card {
    padding: 20px;
}

.film-card img {
    width: 305px;
    height: 435px;
    border-radius: 15px;
    border: solid orangered;
}

.card-body {
    color: white;
    font-size: 30px;
}

.option-listproduct input[type="button"] {
    height: 50px;
    border-radius: 10px;
    border-color: red;
    font-size: 25px;
    color: white;
    background-color: black;
    margin-right: 20px;
}

footer {
    height: 628px;
    flex-shrink: 0;
    background-color: #000000;
    padding: 70px;
    box-sizing: border-box;
}

.logo img {
    width: 416.481px;
    height: 141px;
    flex-shrink: 0;
    background: url(<path-to-image>), cover no-repeat;
}

hr {
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #FFF;
}

.footer-head {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-paragrap {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about,
.infor,
.Contact {
    padding: 10px 50px;
    box-sizing: border-box;
}
.film-card {
    height:20%;
    position: relative;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}
  
  .film-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }

h5 {
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

@media (min-width: 801px) {
    .d-ms-none{
        display: none!important;
    }

}
@media (max-width: 800px) {
.navbar{
    width: 100%;
}
.img img{
    width: 130px;
    padding-left: 10px!important;
}
.d-mx-none{
    display: none!important;
}

.input-container{
    flex:1;   
    text-align: end;
    position: relative;
    right: -38px;
    top:-2px
}
.input-container input{
    width: 69%!important;
}

.slideshow-container {

    top: 110px;
}
.option-listproduct{
    display: flex;
    padding: 0 20px;
}
.option-listproduct input[type="button"] {
    height: 50px;
    border-radius: 10px;
    border-color: red;
    font-size: 20px;
    color: white;
    background-color: black;
    margin-right: 0px;
}.option-listproduct input[type="button"]:first-child{
    margin-right: 10px;
}
.listproduct-1 .row {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

.film-card {
    height: 20%;
    position: relative;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.film-card img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    border: solid orangered;
}
.card-body {
    font-size: 25px;
}
.card-body p{
    font-size: 12px;
}
footer {
    padding: 20px;
}
.logo img {
    width: 150.481px;
    height: 100px;
    flex-shrink: 0;
    background: url(<path-to-image>), cover no-repeat;
}
.information {
    display: block;

}
ul{
    padding-left: 0px;
}
li {
    list-style: none;
}
.about, .infor, .Contact {
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 10px;
}
.footer-paragrap {
    font-size: 15px;
}

.dropdown-toggle button{
 background-color: #000;
 outline: none;
 color: #fff;
 border: none;
 font-size: 20px;
 position: relative;
 top:-5px;
}
.dropdown-menu-right{
    position: absolute;
    right: 10px;
    left: auto;
}
.dropdown-menu {
	border: 0px solid rgba(0,0,0,.15);
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08)!important;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08)!important;
    font-size:15px;
	background-color: #000;
    color: #ffffff;
}
.dropdown-menu a{
    text-decoration: none;
}
.dropdown-divider{
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
}

.dropdown-item{
	padding: .70rem 1.5rem;
	color: #ffffff;
}
.dropdown-item a{
    display: inline-block;
    width: 100%;
}
.dropdown-item i{
    margin-right: 10px;
}
.dropdown-toggle-nocaret::after{
    display: none!important;;
}
.navbar a{
    font-size: 15px;
}
.dropdown-toggle:hover .dropdown-menu-right{
    display: block;
}
.dropdown-menu-right{
    display: none;
}
.show{
    display: block!important;
}
}