.modal-custom {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transform: translate(-50%, -50%);

}

.modal-custom.active {
    display: block;
}

.modal-custom.active {
    display: block;
}

.containers {
    position: relative;
    margin: 100px auto;
    max-width: 700px;
    background-color: black;
    padding: 25px 30px;
    border: 2px solid #23ad68be;
    border-radius: 5px;

}

h1 {
    margin-bottom: 20px;
    color: #fff
}


.containers form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

form .user-details .input-box input {
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    /* Đặt độ rộng của ô input thành 100% */
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(231, 225, 225);

    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

/* CSS cho ô input khi tập trung hoặc có giá trị hợp lệ */


.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: black;
}

form .button {
    height: 45px;
    margin: 45px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

form .button input {

    align-items: center;
    justify-content: center;
    height: 38px;
    width: 191px;
    outline: none;
    color: white;
    background-color: red;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    letter-spacing: 1px;
}


.login {
    text-align: center;
    color: #fff;
}

.login b a {
    color: red;
    text-decoration: none;
}