
* {
    box-sizing: border-box
}
html{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;

}
body {
    background-color: black;
    margin: 0
}
.containers{
    background-color: black;
}
.mySlides {
    display: none
}


/* Slideshow container */
.slideshow-container {
    
    position: relative;
    margin: auto;
    top:80px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



.navbar {
    display: flex;
    height:100px;
    background-color: rgba(16,20,27,.3);
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    /* background-image: linear-gradient(to bottom right, rgba(0,0,0,0.6), rgba(255,255,255,0.7)); */
}
.navbar::after{
    content: "";
    position: absolute; 
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: -1;

}
.navbar a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.navbar a:hover{
    color:red;
}
.input-container{
    display: flex-inline;
}
.input-container input[type="text"]{
    border-radius: 5px;
    height:40px;
    width: 300px;
    outline: none;
    padding-left: 20px;
}
.input-container i{
    box-sizing: border-box;
    margin-left: 10px; 
    font-size: 25px;
}
.login .button-login {
    height: 40px;
    border-radius: 20px;
    background-color: black;
    border-color: white;
    width: 150px;

}

.login .button-login a {
    color: white;
}

.login .button-register {
    height: 40px;
    border-radius: 20px;
    background-color: red;
    border-color: red;
    width: 150px;
}

.login .button-register a {
    color: white;
}
.listproduct{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.listproduct-1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.listproduct-1 .row{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    
}
.film-card{
    padding: 20px;
}
.film-card img{
    width: 100%;
    
}
.card-body{
    color:white;
    font-size: 30px;
}
.option-listproduct input[type="button"]{
    height:50px;
    border-radius: 10px;
    border-color: red;
    font-size:25px;
    color:white;
    background-color: black;
    margin-right: 20px;
}

footer{
    height: 628px;
    flex-shrink: 0;
    background-color: #000000;
    padding: 70px;
    box-sizing: border-box;
}
.logo img{
    width: 416.481px;
    height: 141px;
    flex-shrink: 0;
    background: url(<path-to-image>),  cover no-repeat;
}
hr{
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}
.information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #FFF;
}
.footer-head{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-paragrap{
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about,
.infor,
.Contact{
    padding: 10px  50px;
    box-sizing: border-box;
}
h5{
    margin-top: 10px;
}
p{
    font-size: 25px;
}
input{
    height:40px;
}