/* CSS cho modal */ 
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transform: translate(-50%, -50%);

}

.modal.active {
    display: block;
}

.modal.active {
    display: block;
}

.login-container {

    max-width: 500px;
    margin: 200px auto;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: #fff;
    border: 3px solid #23ad68be;
    position: relative;

}

h1 {
    margin-bottom: 20px;
    color: #fff
}

.head {

    color: white;
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: white;
    width: 49%;

}


input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;

    
}

button[type="submit"] {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #e33408;
    color: #0c0c0c;
    border: none;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}



#dontaccount {
    color: white;
    text-align: center;

}

#dontaccount b a {
    color: red;
    text-decoration: none;
}


.about,
.infor,
.Contact{
    padding: 10px  50px;
    box-sizing: border-box;
    justify-content: flex-start;
}

p {
    text-align: center;

}

